.wrapper .header-section {
    position: relative;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    background-color: #202937;
    transition: all 0.3s ease;
}

.wrapper .header-section .logo img {
    height: 100px;
}

.wrapper .header-section .main-menu {
    display: flex;
    align-items: center;
}

.wrapper .header-section .main-menu .taggle-main {
    display: none; 
    cursor: pointer;
}

.wrapper .header-section .main-menu .taggle-main i {
    font-size: 24px; 
    color: white;
}

.wrapper .header-section .main-menu ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.wrapper .header-section .main-menu ul li a {
    text-decoration: none; 
    color: white; 
    padding: 10px 0;
    position: relative; 
    display: inline-block;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.wrapper .header-section .main-menu ul li a i {
    margin-right: 5px;
}

.wrapper .header-section .main-menu ul li a:hover::after {
    content: ''; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px; 
    background-color: white; 
    transform: scaleX(1);  
    transform-origin: left;
    transition: transform 0.3s ease; 
}

.wrapper .header-section .main-menu ul li a::after {
    content: ''; 
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px; 
    background-color: white;
    transform: scaleX(0); 
    transform-origin: right; 
    transition: transform 0.3s ease;
}

.wrapper .header-section .main-menu ul li a.active {
    font-weight: bold; 
    border-bottom: 2px solid white; 
}

@media (max-width: 850px) {
    .wrapper .header-section {
        flex-direction: row; 
        justify-content: space-between; 
        align-items: center;
    }

    .wrapper .header-section .main-menu ul {
        display: none; 
        flex-direction: column; 
        gap: 10px; 
        width: 100%; 
        background-color: #202937; 
        padding: 10px 20px; 
    }

    .wrapper .header-section .main-menu ul.active {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #202937;
        width: 100%;
        padding: 10px 20px; 
    }

    .wrapper .header-section .main-menu .taggle-main {
        display: block; 
    }

    .main-menu ul.active + .taggle-main .open-icon {
        display: none; 
    }
    
    .main-menu ul.active + .taggle-main .close-icon {
        display: inline-block; 
    }

    .wrapper .header-section .main-menu .taggle-main i {
        font-size: 28px; 
    }
}
