.wrapper .header-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
  background-color: #202937;
  transition: all 0.3s ease;
  box-shadow: 0px 3px 23px 5px;
}

.wrapper .header-section .logo img {
  height: 100px;
}

.wrapper .header-section .main-menu {
  display: flex;
  align-items: center;
}

.wrapper .header-section .main-menu .toggle-menu {
  display: none;
  cursor: pointer;
}

.wrapper .header-section .main-menu .toggle-menu i {
  font-size: 24px;
  color: white;
}

.wrapper .header-section .main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.wrapper .header-section .main-menu ul li a {
  text-decoration: none;
  color: white;
  padding: 10px 0;
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.wrapper .header-section .main-menu ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transform: translateX(-50%);
  transition: width 0.4s ease;
  border-radius: 10px;
}

.wrapper .header-section .main-menu ul li a:hover::after,
.wrapper .header-section .main-menu ul li a.active::after {
  width: 100%;
  background-color: white;
}

.wrapper .header-section .main-menu ul li a i {
  margin-right: 5px;
}

@media (max-width: 850px) {
  .wrapper .header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #202937;
    position: relative;
  }

  .wrapper .header-section .logo {
    flex: 1;
    text-align: left;
  }

  .wrapper .header-section .main-menu ul {
    display: none; 
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 10px 0;
    background-color: #202937;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .wrapper .header-section .main-menu ul.active {
    display: flex; 
    padding-left: 10px;
  }

  .wrapper .header-section .main-menu li {
    margin-left: 10px;
  }

  .wrapper .header-section .main-menu .toggle-menu {
    display: flex;
    cursor: pointer;
  }

  .wrapper .header-section .main-menu .toggle-menu .open-icon {
    display: inline-block;
    font-size: 24px;
    color: white;
  }

  .wrapper .header-section .main-menu .toggle-menu .close-icon {
    display: none;
    font-size: 24px;
    color: white;
  }

  .wrapper .header-section .main-menu ul.active ~ .toggle-menu .open-icon {
    display: inline-block;
  }

  .wrapper .header-section .main-menu ul.active ~ .toggle-menu .close-icon {
    display: none;
  }
}
